@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Geist Mono", monospace;
}

.container {
    background-image: linear-gradient(to bottom right, #009245, #FCEE21);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tasklist-container {
    background-color: rgb(238, 238, 238);
    min-height: 16em;
    width: 62em;
    border-radius: 8px;
    padding: 0 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.tasklist-container h1 {
    font-size: 2em;
    margin-top: 0.1em;
    margin-bottom: 0.5em;
    padding-bottom: 1em;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.input-button-container input {
    width: 80%;
    height: 2.5em;
    border: none;
    padding-left: 0.5em;
    border-radius: 0.3em;
}

.input-button-container button {
    width: 8em;
    height: 2.8em;
    background-color: #009245;
    color: rgb(238, 238, 238);
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
}

.task-contador-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2em;
}

.total-realizadas-container div {
    display: flex;
}

.total-realizadas-container div p:nth-child(2){
    font-weight: 500;
    padding-left: 0.3em;
}

.span-task-container {
    margin: 0 0 0.5em 24em
}

.id-tarea-container {
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.id-tarea-container h2 {
    font-size: 18px;
}

.span-input-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
    align-items: center;
    padding: 0.2em 0;
}

.span-input-container button {
    border-radius: 50%;
    font-size: 8px;
    font-weight: 700;
    color: white;
    width: 18px;
    height: 18px;
    background-color: rgb(255, 85, 0);
    border: none;
    cursor: pointer;
}